.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.subscription button{
  margin: 10px;
}

table.orderbook {
  margin: auto;
}
table.orderbook tbody{
  font-size: 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.highlight {
  -moz-animation: highlight 2s ease 0s 1 alternate ;
  -webkit-animation: highlight 2s ease 0s 1 alternate;
  animation: highlight 2s ease 0s 1 alternate;
}
@-webkit-keyframes highlight {
  from { background-color: #F6F6BC;}
  to {background-color: white;}
}
@-moz-keyframes highlight {
  from { background-color: #F6F6BC;}
  to {background-color: white;}
}
@keyframes highlight {
  from { background-color: #F6F6BC;}
  to {background-color: white;}
}